* {
  margin :0;
  padding: 0;
}

html {
  height: 100%;
  background-color: #373737;
  font-family: Futura, Verdana;
}

body {
  height: 100%;
  width : 100%;
  background-color: #373737;
  display: table;
}

header {
  height: 1px;
  /*color: #C7C7C7;*/
  background-color: #3C3C3C;
  display: table-row;
}

.pure-menu-heading {
  color: #A7A7A7;
}

.pure-menu-selected .pure-menu-link, .pure-menu-selected .pure-menu-link:visited {
  color: #e1ce00;
}

main {
  height: 100%;
  color: #C7C7C7;
  background-color: #1D1D1D;
  display: table-row;

}

.logo-img {
  color: #FFF;
}

#canvas-wrapper {
  width: 100%;
  text-align: center;
}

#canvas-starfield {
  width: 100%;
  background-color: #0F0F0F;
  /*display: block;*/
}

#canvas-visualizer {
  margin: auto;
  display: block;
}

footer {
  height: 1px;
  width: 100%;
  color: #A7A7A7;
  background-color: #3C3C3C;
  text-align: center;
  display: table-row;
}

footer h4 {
  margin: 12px 0;
}
