* {
  margin :0;
  padding: 0;
}

html {
  height: 100%;
  background-color: #373737;
  font-family: Futura, Verdana;
}

body {
  height: 100%;
  width : 100%;
  background-color: #373737;
  display: table;
}

header {
  height: 1px;
  /*color: #C7C7C7;*/
  background-color: #3C3C3C;
  display: table-row;
}

.pure-menu-heading {
  color: #A7A7A7;
}

.pure-menu-selected .pure-menu-link,
.pure-menu-selected .pure-menu-link:visited {
  color: #e1ce00;
}

#divAudioButtonWrapper {
  padding: 4px;
  text-align: right;
  display: inline-block;
}

#divAudioButtonWrapper button {
  vertical-align: middle;
  display: inline-block;
}

.button-success {
  background: #1CB841;
}

.button-warning {
  background: #DF7514;
}

main {
  height: 100%;
  padding: 16px;
  color: #C7C7C7;
  background-color: #1D1D1D;
  display: table;
}

#canvas-wrapper {
  /*text-align: center;*/
  display: table-cell;
}

#canvas-big-bang {

}

#canvas-starfield {
  width: 100%;
  background-color: #0F0F0F;
}

#canvas-visualizer {
  /*margin: auto;*/
  display: block;
}

section {
  padding: 24px;
}

#visualization-sidepanel {
  padding: 8px;
  width: 480px;
  background-color: gray;
  vertical-align: top;
  display: table-cell;
}

article {
  margin: 8px auto;
  padding: 8px auto;
  text-align: justify;
  text-justify: inter-word;
  background-color: #595959;
  border-radius: 12px;
}

h4 {
  padding: 8px;
}

p {
  padding: 8px;
}

.link,
.link:visited {
  color: #e1ce00;
}

table {
  margin: 8px auto;
  align: center;
}

#rangeSystemSizes {
  width: 192px;
}

#selectSolarSystem {
  width: 256px;
}

hr {
  margin: 16px;
}

footer {
  height: 1px;
  width: 100%;
  color: #A7A7A7;
  background-color: #3C3C3C;
  text-align: center;
  display: table-row;
}

footer h4 {
  margin: 12px 0;
  padding: 0;
}
